:host{
  display: flex;
  height: 100%;
}

.productSidenav{
  max-width: 300px;
  min-width: 220px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #f5f4f4;
  position: relative;
  display: block;
  padding: 1.7142857143rem;
  box-shadow: inset -1px 0 0 0 #e8e8e8;
}
  .productSidenav .productMenu{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: minmax(20px,max-content);
    grid-row-gap: 1.7142857143rem;
    list-style: none;
    margin: 0;
    padding: 0;
    background: transparent;
  }

    .productSidenav .productMenu .productMenuItem{
      font-family: Inter,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.4285714286;
      color: #363636;
    }

      .productSidenav .productMenu .productMenuItem .productMenuItemLink {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: all .2s ease;
        color: #363636;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        font-size: 1rem;
        line-height: 1.4285714286rem;
        font-weight: 500;
        text-decoration: none;
      }

      .productSidenav .productMenu .productMenuItem .productMenuItemLink:hover,
      .productSidenav .productMenu .productMenuItem .productMenuItemLink.active {
        color: #ff5700;
      }

.mainContainer{
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

